/* ===== common css style start ===== */
*{
    font-family: "Pliant", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
/* ===== common css style end ===== */

/* ===== card css style start ===== */
#card{
    padding-top: 50px;
}
.Heading{
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.Heading h1{
    max-width: 100%;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: normal;
     background: linear-gradient(90deg, #ff0000, #0000ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cardBox{
    display: flex;
    justify-content: center;
    text-align: center;
}
.stack {
    aspect-ratio: 200/280;
    position: relative;
    width: 200px;
    height: 280px;
}

.card {
    display: flex;
    align-items: center;
    padding-top: 10px;
    aspect-ratio: 200/280;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 280px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s cubic-bezier(.2, .9, .3, 1.2)
}

.c1 {
    background: linear-gradient(135deg, #ff6a00, #ff2095);
    transform: rotate(-6deg);
    z-index: 1
}

.c2 {
    background: linear-gradient(135deg, #00c9ff, #92fe9d);
    transform: rotate(0deg);
    z-index: 2;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.c3 {
    background: linear-gradient(135deg, #6a00ff, #00c9ff);
    transform: rotate(6deg);
    z-index: 3;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}
.stack:hover .c1{
    transform: translate(-90px , -30px) rotate(-18deg);
    -webkit-transform: translate(-90px , -30px) rotate(-18deg);
    -moz-transform: translate(-90px , -30px) rotate(-18deg);
    -ms-transform: translate(-90px , -30px) rotate(-18deg);
    -o-transform: translate(-90px , -30px) rotate(-18deg);
}
.stack:hover .c2{
    transform: translate(0px , -55px) rotate(0deg);
    -webkit-transform: translate(0px , -55px) rotate(0deg);
    -moz-transform: translate(0px , -55px) rotate(0deg);
    -ms-transform: translate(0px , -55px) rotate(0deg);
    -o-transform: translate(0px , -55px) rotate(0deg);
}
.stack:hover .c3{
    transform: translate(90px , -30px) rotate(18deg);
    -webkit-transform: translate(90px , -30px) rotate(18deg);
    -moz-transform: translate(90px , -30px) rotate(18deg);
    -ms-transform: translate(90px , -30px) rotate(18deg);
    -o-transform: translate(90px , -30px) rotate(18deg);
}
.logContent{
    margin: 70px auto;
    display: flex;
    justify-content: center;
}
.logBox{
    /* aspect-ratio: 700/900; */
    padding: 35px 30px;
    border-radius: 40px;
   border: 3px solid transparent;
    border-radius: 20px;
    background:
        linear-gradient(#000, #000) padding-box,
        linear-gradient(90deg, #ff0000, #0000ff) border-box;
    /* border: 3px solid whitesmoke; */
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.logBox .logBoxHeading{
    text-align: center;
}
.logBox .logBoxHeading h2{
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
     background: linear-gradient(90deg, #ff0000, #0000ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
}
.logBox .logBoxHeading p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Marck Script", cursive;
    color: #fff;
    opacity: 0.7;
}
.formWrap{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form .one{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 8px;
}

 .inputBox {
    position: relative;
    width: 100%;
}
.inputBox i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #2455d6;
    font-size: 20px;
}
.inputBox .togglePassword {
    position: absolute;
    left: 94%;
    top: 50%;
    transform: translateY(-50%);

    color: #888;
    cursor: pointer;
    z-index: 2;
}

.inputBox input {
    width: 100%;
    padding: 15px 20px 15px 55px;
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: #fff;
    opacity: .7;
}
.inputBox input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    opacity: .7;
} 
.inputBox input:focus{
    color: #fff;
    opacity: .7;
    outline: none;
}
.genderGroup {
    margin-top: 30px;
}
.genderBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 35px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: transparent;
}
.genderOption {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.genderOption input {
    display: none;
}
.customRadio {
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.genderOption input:checked + .customRadio {
    border-color: #2455d6;
}
.genderOption input:checked + .customRadio::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #2455d6;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.termsBox {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin: 35px 0 30px;
}
.checkOption {
    cursor: pointer;
    flex-shrink: 0;
}
.checkOption input {
    display: none;
}
.customCheck {
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    position: relative;
}
.checkOption input:checked + .customCheck {
    background: #2455d6;
    border-color: #2455d6;
}
.checkOption input:checked + .customCheck::after {
    content: "✓";
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.termsBox p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
    letter-spacing: 1.8px;
}
.termsBox a,
.loginText a {
    color: #2455d6;
    text-decoration: none;
}
.signupBtn {
    width: 100%;
    padding: 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: #2455d6;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}
.signupBtn:hover {
    color: #2455d6;
    background: transparent;
    border: 2px solid #2455d6;
}
.loginText {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
/* ===== card css style end ===== */