/* ===== common css style start ===== */
body{
    background-color: #000;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}
/* ===== common css style end ===== */

/* ===== card css style start ===== */
#card{
    padding-top: 200px;
}
.cardBox{
    display: flex;
    justify-content: center;
    text-align: center;
}
.stack {
    position: relative;
    width: 200px;
    height: 280px;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 280px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s cubic-bezier(.2, .9, .3, 1.2)
}

.c1 {
    background: linear-gradient(135deg, #ff6a00, #ff2095);
    transform: rotate(-6deg);
    z-index: 1
}

.c2 {
    background: linear-gradient(135deg, #00c9ff, #92fe9d);
    transform: rotate(0deg);
    z-index: 2;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.c3 {
    background: linear-gradient(135deg, #6a00ff, #00c9ff);
    transform: rotate(6deg);
    z-index: 3;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}
.stack:hover .c1{
    transform: translate(-90px , -30px) rotate(-18deg);
    -webkit-transform: translate(-90px , -30px) rotate(-18deg);
    -moz-transform: translate(-90px , -30px) rotate(-18deg);
    -ms-transform: translate(-90px , -30px) rotate(-18deg);
    -o-transform: translate(-90px , -30px) rotate(-18deg);
}
.stack:hover .c2{
    transform: translate(0px , -55px) rotate(0deg);
    -webkit-transform: translate(0px , -55px) rotate(0deg);
    -moz-transform: translate(0px , -55px) rotate(0deg);
    -ms-transform: translate(0px , -55px) rotate(0deg);
    -o-transform: translate(0px , -55px) rotate(0deg);
}
.stack:hover .c3{
    transform: translate(90px , -30px) rotate(18deg);
    -webkit-transform: translate(90px , -30px) rotate(18deg);
    -moz-transform: translate(90px , -30px) rotate(18deg);
    -ms-transform: translate(90px , -30px) rotate(18deg);
    -o-transform: translate(90px , -30px) rotate(18deg);
}
.logContent{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.logBox{
    width: 600px;
    height: 800px;
    border-radius: 40px;
    border: 3px solid whitesmoke;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
/* ===== card css style end ===== */